<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>RESTful MD5</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
	<form>
	<label for="hash">MD5 Hash:</label><br>
	<input type="text" id="hash" name="hash" value="098f6bcd4621d373cade4e832627b4f6"><br><!--as an example, the hash of "test"-->
	<input type="button" id="submit" name="submit" value="Crack"><br>
   <label for="output">Output:</label><br>
   <textarea id="output" name="output" readonly rows="10" cols="50" style="overflow:hidden;resize:none;"></textarea>
	</form>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>
   submit = document.getElementById("submit");
   hash = document.getElementById("hash");
   output = document.getElementById("output");

   var intervalID;

   function addLog(text, log=true)
   {
      if(log)
      {
         console.log(text);
      }
      output.value += text + '\n';
      output.scrollTop = output.scrollHeight;
   }

   socket = io();

   socket.on('connect', function(){
      addLog('Connecting!');
      if(intervalID != null)
      {
         clearInterval(intervalID);
      }
      socket.emit('connecting', {data: 'Connected!'});
   });

   socket.on('info', function(msg){
      addLog(msg.message);
   });

   socket.on('time', function(msg){
      addLog('Running for ' + msg.time + ' seconds!');
   });

   socket.on('error', function(msg){
      addLog(msg.message);
      if(intervalID != null)
      {
         console.log('Clearing interval!')
         clearInterval(intervalID);
         intervalID = null;
         submit.disabled = false;
      }
   });

   socket.on('result', function(msg){
      console.log('Received result: ' + msg.time + ' ' + msg.sum);
      submit.disabled = false;
      if(intervalID == null)
      {
         console.log('No interval defined!');
      }
      else
      {
         clearInterval(intervalID);
         intervalID = null;
      }
      addLog('Finished at ' + msg.time + ' seconds with sum ' + msg.sum + '!');
      socket.emit('finished', {'time': msg.time});
   });

   function queryStatus()
   {
      socket.emit('status');
   }

   function is_md5(md5_hash)
   {
      md5_regex = /^[a-fA-F\d]{32}$/gi;
      return md5_regex.test(md5_hash);
   }

   socket.on('starting', function(msg){
      addLog(msg.message);
      intervalID = setInterval(queryStatus, 3000);
      console.log(intervalID);
      submit.disabled = true;
   });

   submit.onclick = function()
   {
      if(hash.value == '')
      {
         addLog('No hash entered!');
      }
      else if(!is_md5(hash.value))
      {
         addLog('Not an MD5 hash!');
      }
      else
      {
         if(intervalID == null)
         {
            socket.emit('hash', {'hash': hash.value});
         }
         else
         {
            addLog('Interval already running!');
         }
      }
   };

</script>

</html>
